<div class="container" ng-controller="searchbooks">
  <div class="row">
  	 <div class="col-md-12">
  	  <div class="col-md-6">
       <div class="form-group">
         <label>Search</label>
         <input type="text" ng-model="search" class="form-control">
       </div>
      </div>
      <div class="col-md-6">
       
      </div> 
  	 </div>
  </div>
  <div class="row">
    <table cellpadding="5" cellspacing="5" class="table">
      <tr>
        <th>Book Name</th>
        <th>ISBN</th>
        <th>Authour</th>
        <th>Details</th>
        <th>Action</th>
      </tr>
      <tr ng-repeat="i in books|filter:search">
        <td>{{i.name}}</td>
        <td>{{i.isbn}}</td>
        <td>{{i.authour}}</td>
        <td>Posted By {{i.email}},<br /> Published Year {{i.published}}</td>
        <td><span ng-show="!i.watchlist" ng-click="watchlist(i.id,1)">+ Add Catalogue</span>
        <span ng-show="i.watchlist"  ng-click="watchlist(i.id,0)">- Remove Catalogue</span></td>
      </tr>  
    </table>
  </div>
</div>
